.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3498db;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-spinner div:nth-child(1) {
  left: 8px;
  animation: loading-spinner1 0.6s infinite;
}

.loading-spinner div:nth-child(2) {
  left: 8px;
  animation: loading-spinner2 0.6s infinite;
}

.loading-spinner div:nth-child(3) {
  left: 32px;
  animation: loading-spinner2 0.6s infinite;
}

.loading-spinner div:nth-child(4) {
  left: 56px;
  animation: loading-spinner3 0.6s infinite;
}

@keyframes loading-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loading-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}